<ul>
  <li>Location: <%= @geofencing.location %></li>
  <li>Latitude:<%= @geofencing.latitude %></li>
  <li>Longitude:<%= @geofencing.longitude %></li>
  <li>Radius:<%= @geofencing.radius %></li>
</ul>
<%= link_to 'Delete', geofencing_path(@geofencing), method: :delete, class: 'btn btn-danger'%>