<ul>
  <li><%= @time_tracking.id %></li>
  <li><%= @time_tracking.owner %></li>
  <li><%= @time_tracking.comment %></li>
  <li><%= @time_tracking.created_at%></li>
  <li><%= @time_tracking.geofencing.location %></li>
  <li><%= @time_tracking.geofencing.latitude %></li>
  <li><%= @time_tracking.geofencing.longitude %></li>
</ul>
